<% provide(:title, 'About') %>
  <div class="center jumbotron">
      <h1>The GCD Gym</h1>

      <h2>About Us</h2>
  </div>
<p>
Test update<br/>
Sed eu ornare orci, placerat hendrerit odio. Vivamus semper erat vitae ante vehicula, ut rutrum nisi eleifend. Pellentesque facilisis mauris a pulvinar ornare. Proin ut ligula nec nibh efficitur viverra et quis urna. Donec risus nisl, luctus in congue et, pulvinar a felis. Vivamus ornare pretium justo, in vestibulum tortor iaculis vel. Nunc in blandit purus, eget porttitor elit. Pellentesque vitae justo arcu. Nullam finibus sapien in ligula ullamcorper, vel maximus turpis volutpat. Vestibulum eu libero feugiat augue mattis accumsan. In cursus libero non sem blandit, at rhoncus elit suscipit. Aliquam mollis, est a tincidunt placerat, eros tellus pellentesque erat, in sagittis eros ligula ut neque. Nam pulvinar vehicula sapien ac maximus. Sed egestas turpis vitae mauris hendrerit sollicitudin.
</p>
<p>
Praesent eros ante, finibus at cursus ut, pulvinar sodales odio. Maecenas id tellus eget dolor euismod tincidunt. Aenean sed tellus neque. Duis commodo nunc non orci posuere, vel porta nisl tincidunt. Ut vehicula luctus nibh, vitae interdum ligula maximus at. Duis vulputate elit erat, sit amet faucibus ante convallis vitae. Duis et suscipit mi. Nam efficitur faucibus dolor, ac aliquet nulla rutrum sit amet. Maecenas dignissim mi sed dignissim pulvinar. Phasellus id justo rhoncus, molestie magna vel, pulvinar lorem. Etiam vel sodales enim. Aenean condimentum risus nec scelerisque bibendum. Vestibulum et tortor leo. Suspendisse a tortor quam. Donec vulputate, magna quis efficitur faucibus, purus risus euismod massa, id iaculis purus justo sit amet sapien. Mauris sollicitudin dui eget nisi laoreet commodo in et lectus.
</p>
<p>
Pellentesque ut elementum magna. Fusce congue ornare imperdiet. Donec non convallis velit. Morbi luctus, dui at ullamcorper viverra, velit sem maximus justo, in facilisis felis est vitae ligula. Etiam pretium vitae erat id convallis. Mauris nec nunc eu lacus accumsan pellentesque vitae at ex. In elit mi, imperdiet nec turpis ut, venenatis blandit nibh. Donec accumsan vehicula ex, a iaculis purus. Duis rhoncus, nulla ut elementum luctus, ipsum nibh aliquet mauris, malesuada dictum ligula magna ut ipsum. Praesent commodo sem tincidunt malesuada consequat. Proin tincidunt nunc augue, at ullamcorper metus vestibulum a. Nulla placerat volutpat iaculis. Fusce congue metus et erat ultricies, non lacinia elit vulputate. Sed tellus ante, eleifend et semper a, eleifend sed diam. Mauris sit amet diam dolor. Phasellus at turpis quis dolor faucibus porta sed sit amet odio.
</p>