
<% provide(:title, "Home") %>



<div class="center jumbotron">
  <h1>The GCD Gym</h1>

  <h2>The GCD Gym</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="thumbnail">
  <%= link_to image_tag("logo.png", alt: "The GCD Gym logo"),'https://bitbucket.org/shanef84/gcd_gp_project/overview', class:"img-circle" %>
</div>