<% provide(:title, 'News') %>
  
  <div class="center jumbotron">
      <h1>The GCD Gym</h1>

      <h2>News</h2>
  </div>
<h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet tellus in nisi auctor condimentum. Proin pellentesque fermentum ex sed faucibus. Aliquam erat orci, placerat eget luctus sit amet, iaculis et dolor. Nulla in molestie urna, ut lobortis metus. Sed vitae imperdiet ante, vitae lacinia nibh. In lobortis orci ut mi ullamcorper elementum quis vitae ipsum. Aliquam tempus leo non felis cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vestibulum efficitur ipsum, vel tempus purus pharetra et. Integer porta feugiat augue, sed dignissim leo vehicula in. Sed tincidunt nec leo sit amet vehicula. Sed vel semper diam. Nam elit mauris, rutrum vel facilisis a, hendrerit quis justo. Maecenas gravida posuere lorem sit amet iaculis.
</p>
<p>
Quisque ullamcorper lorem sed orci scelerisque dignissim. Suspendisse efficitur nec sapien in elementum. Fusce eget lacus in dui congue lobortis vitae quis elit. Nulla sed sem quis sapien hendrerit venenatis vitae in neque. Nullam lacinia, dui a molestie pellentesque, erat metus ullamcorper ante, et blandit tortor nunc non erat. Pellentesque ut gravida risus, quis aliquet lorem. Maecenas convallis rhoncus ante sit amet molestie. Cras cursus quis enim vitae molestie.
</p>
<p>
Nam non sapien felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ullamcorper odio quis nisi porta mattis. Phasellus vel vulputate leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ultricies leo in semper suscipit. Morbi pulvinar tortor ipsum, sed tincidunt erat venenatis eu. Aliquam dapibus quam quis sapien fringilla, at mollis nisl rutrum. Suspendisse malesuada lectus diam, eget mattis erat aliquam id. Nam rutrum leo ac sodales molestie. Nullam interdum nibh vel leo feugiat, at commodo mi eleifend. Curabitur facilisis erat nunc, quis porttitor ipsum pellentesque sed. Donec at convallis odio. Aliquam erat volutpat. Maecenas sed urna fermentum, suscipit dui vel, maximus turpis.
</p>
<p>
Cras ex justo, blandit nec ante vitae, rhoncus dapibus nibh. Ut fermentum vitae risus egestas semper. Nulla facilisi. Integer porttitor varius turpis, ac convallis metus consequat vel. Nulla sed leo augue. Proin euismod libero id erat feugiat, sed ornare est rhoncus. Vestibulum eleifend metus eget euismod molestie. In vel nunc sit amet ligula venenatis pretium vel id libero. Proin quis ante vel dui blandit tempus eget vitae turpis. Quisque luctus nunc vel felis euismod tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur egestas dolor id pellentesque. Fusce aliquet sed urna nec sagittis. Phasellus interdum, metus nec dignissim ultrices, urna velit molestie justo, sit amet aliquam risus elit varius turpis. Sed urna justo, mattis et metus ut, euismod semper ligula. Ut viverra, nulla eu imperdiet viverra, velit mi laoreet nisi, vitae bibendum nisl arcu non nunc.
</p>