<p id="notice"><%= notice %></p>

<h1>Memberships</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.title %></td>
        <td><%= membership.description %></td>
        <td><%= membership.price %></td>
        <% if current_user %>
        <td><%= link_to 'Select Membership', edit_user_path(current_user) , class: "btn btn-lg btn-success" %></td>
        <% end %>
        <% if current_user && current_user.administrator? %>
        <td><%= link_to 'Edit', edit_membership_path(membership), class: "btn btn-lg btn-warning" %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger" %></td>
        <% else %>
        <td><%= link_to 'Show', membership, class: "btn btn-lg btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.administrator? %>
<%= link_to 'New Membership type', new_membership_path, class: "btn btn-lg btn-primary" %>
<% end %>