<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @membership.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @membership.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership.price %>
</p>

<%= link_to 'Back', memberships_path %>
