<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <% if current_user %>
            <div class="panel panel-default">
                <div class="panel-heading">Membership ID</div>
                <div class="panel-body"> <%= @user.id %></div>
              </div>
      <% end %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'  %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :phone %>
      <%= f.phone_field :phone, class: 'form-control' %>
      
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>