<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.id, user %>
  <%= link_to user.name, user %>
  
  <% if current_user.administrator? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger" %>
  <% end %>
</li>