<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="panel panel-default">
          <div class="panel-body"><%= gravatar_for @user %></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Name</div>
          <div class="panel-body"><%= @user.name %></div>
        </div>
          <div class="panel panel-default">
          <div class="panel-heading">Membership ID</div>
          <div class="panel-body"> <%= @user.id %></div>
        </div>
       
      </h1>
    </section>
  </aside>
</div>