

        <%= form_for(page) do |f| %>
          <% if page.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>
        
              <% page.errors.full_messages.each do |message| %>
                <div class="alert"><%= message %></div>
              <% end %>
            </div>
          <% end %>
        
          <div class="field">
            <%= f.label :name %> (Also used for page title)
            <%= f.text_field :name, class: "form-control" %>
          </div>
        
          <div class="field">
            <%= f.label :permalink %>
            <%= f.text_field :permalink, class: "form-control" %>
          </div>
        
          <div class="field">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
        
          <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image, class: "form-control" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>

