  <!--Reading in gallery images by ActiveRecords was causing issues so took the manual route-->
  <% @gal_id = @page.gallery.id %>
  <h1><%= @page.gallery.name %></h1>
  <% @gal_imgs = GalleryImage.where(galleries_id: @gal_id.to_f ) %>
  <% @gal_imgs.each do |i| %>
    <% @img = Image.find(i.images_id) %>
      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <%=image_tag(@img.filename.url, class: "img-responsive", size: "300x300", alt: @img.alt) if @img.filename? %>
        <%= @img.caption %>
      </div>
  <% end %>
  <br/><br/>