<% if current_user && current_user.member_type.present? %>
  <h2>Current membership = <%= Membership.find(current_user.member_type).title %></h2>
<% end %>
<table class=" table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.title %></td>
        <td><%= membership.description %></td>
        <td><%= membership.price %></td>
        <% if current_user %>
        <td>
          <%= link_to "Select Membership", {:controller => :users, :action => 'update', :id => current_user.id, :member_type => membership.id }, :confirm => "Are you sure?", :method => :put, :class => 'btn btn-primary btn-sm' %>
        </td>
        <% end %>
        <% if current_user && current_user.administrator? %>
        <td><%= link_to 'Edit', edit_membership_path(membership), class: "btn btn btn-warning" %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %></td>
        <% else %>
        <td><%= link_to 'Show', membership, class: "btn btn btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.administrator? %>
<%= link_to 'New Membership type', new_membership_path, class: "btn btn btn-primary" %>
<% end %>