<h1>Pages</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.permalink %></td>
        <td><%= page.content %></td>
        <td><%= page.image %></td>
        <td><%= link_to 'Show', page, class: "btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_page_path(page), class: "btn-sm btn-warning" %></td>
        <td>
            <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path, class: "btn btn-success" %>
