<% provide(:title, @page.name.humanize) %>

<h1><%= @page.name.humanize %></h1>

<% if @page.permalink == "home" %>
  <%= render 'hometop' %>
<% end %> 

<p>
  <%= image_tag @page.image.url if @page.image? %>
  <div style="padding-left:20px;"></div>
  <%= @page.content %>
  <br/>
  
</p>

<% if @page.permalink == "home" %>
  <%= render 'homebottom' %>
<% elsif @page.permalink == "memberships" %>
  <%= render 'memberships' %>
<% elsif @page.permalink == "classes" %>
  <%= render 'classes' %>
<% elsif @page.permalink == "contactus" %>
  <%= render 'contactus' %>
<% end %> 
<br/><br/>
<% if current_user && current_user.administrator? %>
  <%= link_to 'Edit', edit_page_path(@page), class: "btn btn-warning" %>
  <%= link_to 'Back', pages_path, class: "btn btn-primary" %>
<% end %>
<br/><br/>

<% if @page.gallery.present? %>
  <%= render 'gallery' %>
<% elsif %>
  <h2>This page has no image gallery</h2>
<% end %>
<br/><br/>