<%= form_for(gallery_image) do |f| %>
  <% if gallery_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

      <ul>
      <% gallery_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :galleries_id %>
    <%= f.collection_select :galleries_id, Gallery.all, :id, :name, {required: true}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :images_id %>
    <%= f.collection_select :images_id, Image.all, :id, :filename, {required: true}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
