<h1>Editing Gallery Image</h1>

<%= render 'form', gallery_image: @gallery_image %>

<%= link_to 'Show', @gallery_image, class: "btn btn-primary" %>
<%= link_to 'Back', gallery_images_path, class: "btn btn-primary" %>
