<h1>Gallery Images</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Gallery</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_images.each do |gallery_image| %>
      <tr>
        <td><%= Gallery.find(gallery_image.galleries_id).name %></td>
        <td><%= Image.find(gallery_image.images_id).filename %></td>
        <td><%= link_to 'Show', gallery_image, class: "btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_gallery_image_path(gallery_image), class: "btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', gallery_image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery Image', new_gallery_image_path, class: "btn btn-success" %>
