<p>
  <strong>Gallery:</strong>
  <%= Gallery.find(@gallery_image.galleries_id).name %>
</p>

<p>
  <strong>Image:</strong>
  <%= Image.find(@gallery_image.images_id).filename %>
</p>

<%= link_to 'Edit', edit_gallery_image_path(@gallery_image), class: "btn btn-warning" %>
<%= link_to 'Back', gallery_images_path, class: "btn btn-primary" %>
