<h1>Galleries</h1>

<p>
  Once you have created a <%= link_to 'new gallery', new_gallery_path, class: "btn-sm btn-success" %> please create a <%= link_to 'new image', new_image_path, class: "btn-sm btn-success" %>
  and then <%= link_to 'add the image to a gallery', new_gallery_image_path, class: "btn-sm btn-success" %>
</p>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.name %></td>
        <td><%= gallery.page.name %></td>
        <td><%= link_to 'Show', gallery, class: "btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_gallery_path(gallery), class: "btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path, class: "btn btn-success" %>
