  <!--Reading in gallery images by ActiveRecords was causing issues so took the manual route-->
  <h1><%= @gallery.name %></h1>
  <h2> Displayed on the <%= @gallery.page.name %> Page</h2>
  <% @gal_imgs = GalleryImage.where(galleries_id: @gallery.id.to_f ) %>
  <% @gal_imgs.each do |i| %>
    <% @img = Image.find(i.images_id) %>
      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <%=image_tag(@img.filename.url, class: "img-responsive", size: "300x300", alt: @img.alt) if @img.filename? %>
        <%= @img.caption %>
      </div>
  <% end %>
  <br/><br/>

<%= link_to 'Edit', edit_gallery_path(@gallery), class: "btn btn-warning" %>
<%= link_to 'Back', galleries_path, class: "btn btn-primary" %>
