<p id="notice"><%= notice %></p>

<h1>Gym Classes</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Class Number</th>
      <th>Name</th>
      <th>Day</th>
      <th>Time</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gym_classes.each do |gym_class| %>
      <tr>
        <td><%= gym_class.id %></td>
        <td><%= gym_class.name %></td>
        <td><%= gym_class.day %></td>
        <td><%= gym_class.time %></td>
        <td><%= gym_class.description %></td>
        <td><%= gym_class.instructor %></td>
        <td><%= gym_class.start_date %></td>
        <td><%= link_to 'Register for Class', new_booking_path, class: "btn btn-lg btn-success" %></td>
        <% if current_user && current_user.administrator? %>
        <td><%= link_to 'Edit', edit_gym_class_path(gym_class), class: "btn btn-lg btn-warning" %></td>
        <td><%= link_to 'Destroy', gym_class, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger" %></td>
        <% else %>
        <td><%= link_to 'Show', gym_class, class: "btn btn-lg btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.administrator? %>
<%= link_to 'New Gym Class', new_gym_class_path, class: "btn btn-lg btn-primary" %>
<% end %>