<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gym_class.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @gym_class.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @gym_class.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gym_class.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @gym_class.instructor %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @gym_class.start_date %>
</p>
<%= link_to 'Back', gym_classes_path %>
