<h1>Images</h1>

<table class=" table table-striped">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Alt</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.filename %></td>
        <td><%= image.alt %></td>
        <td><%= image.caption %></td>
        <td><%= link_to 'Show', image, class: "btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_image_path(image), class: "btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path, class: "btn btn-success" %>
