<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @image.alt %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<%= link_to 'Edit', edit_image_path(@image), class: "btn btn-warning" %>
<%= link_to 'Back', images_path, class: "btn btn-primary" %>
