<footer class="footer" style="clear: both;">
  <br/><br/>
  <small>
    The Griffith College Gym
    by Gareth O'Connor | Shane Forbes
  </small>
  <nav>
    
    <ul>
      <% @pages.each do |page| %>
        <li><%= link_to page.name.humanize, page %></li>
      <% end %>
    </ul>
  </nav>
</footer>