    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "the Griffith College Gym", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user && current_user.administrator? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Administration <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Manage", '#' %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Web Pages", pages_path %></li>
                  <li><%= link_to "Image Galleries", galleries_path %></li>
                  <li><%= link_to "Messages", contacts_path %></li>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Memberships", page_path("memberships") %></li>
                  <li><%= link_to "Classes", page_path("classes") %></li>
                  <li><%= link_to "Bookings", bookings_path %></li>
                </ul>
              </li>
            <% end %>
            <% @pages.each do |page| %>
              <li><%= link_to page.name.humanize, page %></li>
            <% end %>
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>